<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wechat autobot</title>
    <link href="/index.css" rel="stylesheet">
</head>
<body>
    <img id="">
    <script>
      const url=  URL.createObjectURL(<%= data %>);
      const node=document.createElement('img');
      node.url=url;
      document.body.append(node);
    </script>
</body>
</html>